.carousel {
	border: 10px solid white;
	-webkit-box-shadow: 3px 3px 2px gray;
	        box-shadow: 3px 3px 2px gray;
	display: block !important;
	margin: 0 auto 50px;
	outline: 1px solid gray;
}

.carousel-control,
.carousel-control:hover,
.carousel-control:focus {
	color: orange;
}

@media screen and (max-width: 1024px) {
	.container {
		padding: 0 15px;
	}

	.carousel {
		margin: 0;
	}
}
